<md-card ng-controller="ContactInformationController as contactInfoCtrl">
  <div layout="row" layout-align="space-between center" class="md-padding">
    <!-- heading and edit button -->
    <h2 class="md-headline">Contact information</h2>
    <md-button class="md-accent md-raised md-icon-button" ng-href="contact-info" aria-label="edit contact information">
      <md-icon>create</md-icon>
    </md-button>
  </div>
  <!-- contact info content -->
  <md-list class="info-list">
    <md-list-item layout="row" layout-align="start start">
      <p class="list-item-heading">Name</p>
      <div flex>
        <p>{{ contactInfo.legalName }}</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="start start">
      <p class="list-item-heading">Preferred name</p>
      <div flex>
        <p>{{ contactInfo.preferredName }}</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="start start">
      <p class="list-item-heading">Email addresses</p>
      <div flex>
        <p ng-repeat="email in contactInfo.emails">{{ email.value }}</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="start start">
      <p class="list-item-heading">Addresses</p>
      <div flex>
        <p ng-repeat="address in contactInfo.addresses">
          <span ng-repeat="line in address.addressLines">{{ line }}<br></span>
          <span>{{ address.city }}, {{ address.stateCode }} {{ address.postalCode }}</span>
        </p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="start start">
      <p class="list-item-heading">Phone numbers</p>
      <div flex>
        <p ng-repeat="phone in contactInfo.phoneNumbers">{{ phone.type }} {{ phone.value }}</p>
      </div>
    </md-list-item>
  </md-list>
</md-card>
