<div class="row portlet-frame">
    <portlet-header app-title="My Profile" app-image="img/square.jpg"></portlet-header>

    <div class="portlet-body">
        <!-- App Navigation if Needed -->
        <div class="inner-nav-container">
            <ul class="inner-nav">
                <li class="active"><a href="main">My Profile</a></li>
                <li><a href="emergencyInfo">Emergency Info</a></li>
            </ul>
        </div>
        <div>
            <div class="col-xs-12 no-padding">
                <div class='fluid-container'>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <contact-info></contact-info>
                        </div>
                        <div class='col-sm-6'>
                            <basic-info></<basic-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
