<div class="row portlet-frame">
  <app-header app-title="My Profile" app-icon="fa-user" app-add-to-home="true"></app-header>

  <div class="portlet-body md-padding">
    <!-- app navigation -- replace with md-nav-bar when angular 1.1.1 is available frame -->
    <div layout="row" layout-align="start center">
      <md-button class="md-primary" ng-href="main" aria-label="go to my profile">My profile</md-button>
      <md-button ng-href="emergencyInfo" aria-label="go to emergency info">Emergency info</md-button>
    </div>
    <!-- main content -->
    <div layout-xs="column" layout-gt-xs="row" layout-align-gt-xs="space-around start">
      <div flex-gt-xs="50" layout="column">
        <contact-info></contact-info>
      </div>
      <div flex-gt-xs="50" layout="column">
        <basic-info></basic-info>
      </div>
    </div>
  </div>
</div>
