<frame-page  app-title="My Profile - Settings"
             app-icon="fa-user"
             app-add-to-home="false">
  <div layout="row" layout-align="start center">
    <md-button ng-href="main" aria-label="go to my profile">My profile</md-button>
    <md-button ng-href="emergencyInfo" aria-label="go to emergency info">Emergency info</md-button>
  </div>
  <div layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <h3 class="md-headline">Settings</h3>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item layout="row" layout-align="start start">
            <md-switch ng-model="$storage.showMyProfile">
              Show My Profile subnavigation
            </md-switch>
          </md-list-item>
        </md-list>
      </md-card-content>
   </md-card>
  </div>
</frame-page>
