<!-- when simply displaying addresses -->
<div ng-if="!address.edit || address.edit == false">
  <div ng-repeat="line in address.addressLines">
    {{ line }}
  </div>
  <div>
    {{ address.city }}, {{ address.state }} {{ address.postalCode }}
  </div>
  <div>
    {{ address.country }}
  </div>
  <p>{{ address.comment }}</p>
  <p ng-if="address.housing" class="housing-notice">Provided by UW Housing</p>
  <div layout="row">
    <md-button class="md-accent md-raised" ng-click="addEdit()" ng-hide="address.readOnly && !address.housing" aria-label="add another address">Add another</md-button>
    <md-button class="md-default md-raised" ng-click="address.edit = true" ng-hide="address.readOnly">Edit</md-button>
    <md-button class="md-warn" ng-click="deleteAddress($index)" ng-hide="address.readOnly">Delete</md-button>
  </div>
</div>
<!-- edit/update address form -->
<div ng-if="address.edit">
  <form novalidate name="addressForm">
    <!-- input address -->
    <md-input-container class="md-block" ng-repeat="line in address.addressLines | limitTo:5 track by $index">
      <label>Address Line {{$index + 1}}<span ng-if="$index === 0">*</span></label>
      <input ng-if="$index == 0" required ng-model="address.addressLines[$index]" maxlength="100">
      <input ng-if="$index != 0" ng-model="address.addressLines[$index]" maxlength="100">
    </md-input-container>
    <md-button class="md-default" ng-click="address.addressLines.push('')" ng-if="address.addressLines.length <= 4" aria-label="add another line">Add line</md-button>
    <!-- input city -->
    <md-input-container class="md-block">
      <label>City*</label>
      <input ng-model="address.city" required maxlength="100">
    </md-input-container>
    <!-- select country -->
    <md-input-container class="md-block">
      <label>Country*</label>
      <md-select ng-model="address.country" required aria-required="true" ng-change="address.state = ''">
        <md-option ng-repeat="country in countries" ng-value="country.key">{{ country.value }}</md-option>
      </md-select>
    </md-input-container>
    <!-- select state -->
    <md-input-container class="md-block">
      <label>State/province/region*</label>
      <md-select ng-model="address.state" ng-disabled="!address.country || (states | filter:{ counter: address.country }).length === 0">
        <md-option ng-if="!address.country" value="">Select country first</md-option>
        <md-option ng-if="address.country && (states | filter:{country: address.country}).length === 0" value="">No states/provinces/regions for this country</md-option>
        <md-option ng-if="address.country" ng-repeat="item in states | filter:{country: address.country} | orderBy:'value'" ng-value="item.key" ng-attr-selected="{{isSelection(address.state, item.key)}}">{{ item.value }}</md-option>
      </md-select>
    </md-input-container>
    <!-- input zip -->
    <md-input-container class="md-block">
      <label>Zip*</label>
      <input ng-model="address.postalCode" required maxlength="10">
    </md-input-container>
    <!-- input comments -->
    <md-input-container class="md-block">
      <label>Mode information</label>
      <textarea ng-model="address.comment" md-maxlength="50" rows="3" md-select-on-focus placeholder="Ex. I am only here Monday and Wednesday"></textarea>
    </md-input-container>

    <p>*Required</p>
    <md-button class="md-raised md-accent" ng-click="save()" ng-disabled="addressForm.$invalid">Save</md-button>
    <md-button class="md-default" ng-click="cancel()">Cancel</md-button>
    </form>
</div>
