<div class="portlet-frame">
  <app-header app-title="Find Local Information" app-icon='fa-lock' app-add-to-home='true' app-fname='local-contact-info-admin'></app-header>
  <div class="white-page portlet-body">
    <div ng-controller="LocalContactAdminController as localContactAdminCtrl">

      <!-- ALERT -->
      <div class="alert" role="alert" ng-if='error && error.length > 0'>{{error}}</div>

      <!-- User Lookup Form -->
      <div layout="column" layout-align="start center" class="contact-info-card">
        <form name="form" class="admin-lookup-form" novalidate>
          <div layout-gt-xs="row" layout="column" layout-align-gt-xs="center start" layout-align="start center">
            <md-input-container class="md-block no-margin-bottom">
              <label>First name (optional)</label>
              <input type="text" ng-model="firstName">
            </md-input-container>
            <md-input-container class="md-block no-margin-bottom">
              <label>Last name (required)</label>
              <input type="text" required ng-model="lastName">
            </md-input-container>
          </div>
          <div class="buttons-small" layout="row">
            <md-button class="md-raised md-accent" ng-click="search()" ng-show="form.$valid">Search</md-button>
            <md-button class="md-raised md-accent disabled" ng-hide="form.$valid">Search</md-button>
            <md-button class="md-default" ng-click="reset()">Clear</md-button>
          </div>
        </form>
        <p class="disclaimer"><i class="fa fa-exclamation-triangle"></i> For use only in case of emergency. All searches will be logged.</p>
      </div>

      <md-content>
          <!-- if loading -->
          <div ng-if="searching&&!(result.people&&result.people.length)&&!empty">
            <loading-gif></loading-gif>
          </div>
          <div  ng-if="result && result.people">
            <!-- if results found -->
            <div  ng-show="result.people.length>0" >
              <div layout="column">
                <div ng-repeat="people in result.people | limitTo:searchResultLimit">
                  <user></user>
                </div>
              </div>
              <div layout="row" layout-padding>
                <p flex="25">Showing {{searchResultLimit>result.people.length ? result.people.length:searchResultLimit}} of {{result.people.length}} results.</p>
                <div flex="50" ng-show="result.people.length > 0">
                  <md-button class="md-default md-raised" ng-click="searchResultLimit = searchResultLimit + searchResultLimitIncrementor" ng-show="result.people.length > searchResultLimit" aria-label="load more results">
                    Load more
                  </md-button>
                  <md-button class="md-default" ng-click="reset()" aria-label="clear and search again">Search again</md-button>
                </div>
              </div>
            </div>

            <!-- if no results found -->
            <div ng-show="result.people.length === 0" class="center">
              <p>No search results found.</p>
            </div>
          </div>
        </md-content>
    </div>
  </div>
</div>
