<div class="row portlet-frame">
    <portlet-header app-title="My Profile - Emergency Info" app-image="img/square.jpg"></portlet-header>

    <div class="portlet-body">
        <!-- App Navigation if Needed -->
        <div class="inner-nav-container" ng-if='$storage.showMyProfile'>
            <ul class="inner-nav">
                <li ><a href="main">My Profile</a></li>
                <li class="active"><a href="emergencyInfo">Emergency Info</a></li>
            </ul>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="row">
                <div class="col-xs-12">
                    <div class="top-info">
                        <p>State and federal laws require the university to collect emergency contact information for every student. <a target='_blank' href="https://kb.wisc.edu/page.php?id=54484">Learn more here</a>.</p>
                        <p>This information is being collected for the safety of our students. Only authorized UW personnel will be able to access it.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class='col-sm-6 center-block studentPhone' ng-controller="EmergencyPhoneController as emergencyPhoneCtrl">
                <loading-gif data-object='emergencyPhoneNumbers' data-reuse="true"></loading-gif>
                <div class='info-card' ng-if="empty || emergencyPhoneNumbers.emergencyPhoneNumbers.length>0">
                <h1>My Emergency Phone Number</h1>
                <div class="description-box">
                  <p>An emergency phone number where you can be reached in cases of safety</p>
                </div>
                <div ng-if="emergencyPhoneNumbers.emergencyPhoneNumbers.length === 0 && !edit" >
                  <p>
                    <i class="fa fa-exclamation-triangle warn-icon"></i>No Phone Number inserted yet!
                  </p>
                </div>
                <div>
                  <p ng-if="!edit && emergencyPhoneNumbers.emergencyPhoneNumbers.length">
                    Emergency Phone: {{emergencyPhoneNumbers.emergencyPhoneNumbers[0].value}} ({{emergencyPhoneNumbers.emergencyPhoneNumbers[0].type}})
                  </p>
                  <div ng-hide="!edit">
                    <form novalidate name="emergencyPhoneNumberForm">
                      <div class="row">
                        <div class="col-xs-6">
                          <label for="emergencyPhoneNumber">Phone</label>
                          <input type="tel" id="emergencyPhoneNumber" name="emergencyPhoneNumber" class="form-control" required ng-model="emergencyPhoneNumbers.emergencyPhoneNumbers[0].value">
                        </div>
                        <div class="col-xs-6 phone-type">
                          <label for="emergencyPhoneType">Type</label>
                          <select id="emergencyPhoneType" name="emergencyPhoneType" class="form-control" required ng-model="emergencyPhoneNumbers.emergencyPhoneNumbers[0].type">
                            <option value="Mobile">Mobile</option>
                            <option value="Home">Home</option>
                            <option value="Work">Work</option>
                          </select>
                        </div>
                      </div>
                      <button class='btn btn-primary' style='margin-right: 10px;' ng-click="save(); edit = false;" ng-disabled="emergencyPhoneNumberForm.$invalid">Save</button>
                      <button class='btn btn-default' ng-click='cancel()'>Cancel</button>
                    </form>
                  </div>
                  <button ng-show="!edit" ng-click="edit = true" class='btn btn-default' ng-switch="emergencyPhoneNumbers.emergencyPhoneNumbers.length">
                    <span ng-switch-when="0">Add</span>
                    <span ng-switch-default>Update</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
            <div class='row'>
                <div class='col-sm-6' ng-controller="EmergencyInformationController as emergencyInfoCtrl">
                    <loading-gif data-object='emergencyInfo' data-empty='noContacts'></loading-gif>
                    <div ng-if="emergencyInfo.length === 0" class='info-card'>
                        <h1>Emergency Contact</h1>
                        <div class="description-box">
                          <p>A parent, relative, or trusted friend to contact in case of an emergency.</p>
                        </div>
                        <p><i class="fa fa-exclamation-triangle warn-icon"></i>No contact entered yet.</p>
                        <button class='btn btn-primary' ng-click='addEdit()'>Add emergency contact</button>
                    </div>
                    <div ng-repeat="contact in emergencyInfo">
                        <div class='info-card emergency-contact'>
                            <h1>Emergency Contact</h1>
                            <div class="description-box">
                              <p>A parent, relative, or trusted friend to contact in case of an emergency.</p>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-if='error && error.length > 0'>{{error}}</div>
                            <emergency></emergency>
                        </div>
                    </div>
                </div>
                <div class='col-sm-6' ng-controller="LocalContactInformationController as localContactInfoCtrl">
                    <loading-gif data-object='contactInfo'></loading-gif>
                    <div ng-if="contactInfo.addresses.length === 0" class='info-card'>
                        <h1>My Local Address</h1>
                        <div class="description-box">
                          <p>A physical address where you live or frequently stay during the school year.</p>
                        </div>
                        <p><i class="fa fa-exclamation-triangle warn-icon"></i>No address entered yet.</p>
                        <button class='btn btn-primary' ng-click='addEdit()'>Add local address</button>
                    </div>
                    <div ng-repeat="address in contactInfo.addresses">
                        <div class='info-card local-address'>
                            <h1>My Local Address</h1>
                            <div class="description-box">
                              <p>A physical address where you live or frequently stay during the school year.</p>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-if='error && error.length > 0'>{{error}}</div>
                            <lec-address></lec-address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
