<frame-page  app-title="My Profile - Emergency Info"
             app-icon="fa-user"
             app-add-to-home="true"
             app-action-link-text="Add to home"
             app-fname="'contact-info'">

  <!-- app navigation -- replace with md-nav-bar when angular 1.1.1 is available frame -->
  <div ng-if="$storage.showMyProfile">
    <div layout="row" layout-align="start center">
      <md-button ng-href="main" aria-label="go to my profile">My profile</md-button>
      <md-button class="md-primary" ng-href="emergencyInfo" aria-label="go to emergency info">Emergency info</md-button>
    </div>
  </div>

  <!-- disclaimer text -->
  <div layout="column" layout-align="start center" class="top-info">
    <p>State and federal laws require the university to collect emergency contact information for every student. Learn more in the <a target="_blank" href="https://kb.wisc.edu/page.php?id=54484">KnowledgeBase</a>.</p>
    <p>This information is being collected for the safety of our students. Only authorized UW personnel will be able to access it.</p>
  </div>

  <!-- error state -->
  <div layout="row" ng-controller='ErrorController as errorCtrl'>
    <div flex="100">
      <script type="text/ng-template" id="alert.html">
        <div class="alert" role="alert">
          <div ng-transclude></div>
        </div>
      </script>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{ alert.msg }}</alert>
    </div>
  </div>

  <!-- loading state -->
  <div layout="row" layout-align="center center" ng-show="profileLoadingState.ephone || profileLoadingState.lcontact || profileLoadingState.einfo">
    <loading-gif data-object="{{[]}}"></loading-gif>
  </div>

  <!-- profile information -->
  <div layout="row" layout-align="center center" ng-hide="profileLoadingState.ephone || profileLoadingState.lcontact || profileLoadingState.einfo">

    <!-- emergency phone -->
    <div layout-xs="row" layout-gt-xs="column" flex-xs="100" flex-gt-xs="33">
      <emergency-phone></emergency-phone>
    </div>

    <!-- local address -->
    <div layout-xs="row" layout-gt-xs="column" flex-xs="100" flex-gt-xs="33" ng-controller="LocalContactInformationController as localContactInfoCtrl">
      <!-- if no addresses entered -->
      <md-card ng-if="contactInfo.addresses.length === 0">
        <md-card-title>
          <md-card-title-text>
            <h2 class="md-headline">My local address</h2>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="description-box">
            <p>A physical address where you live or frequently stay during the school year.</p>
          </div>
          <p><md-icon class="md-warn">warning</md-icon> No address entered yet.</p>
          <md-button class="md-accent md-raised" ng-click="addEdit()">Add local address</md-button>
        </md-card-content>
      </md-card>
      <!-- repeat for each address -->
      <md-card ng-repeat="address in contactInfo.addresses">
        <md-card-title>
          <md-card-title-text>
            <h2 class="md-headline">My local address</h2>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="description-box">
            <p>A physical address where you live or frequently stay during the school year.</p>
          </div>
          <div class="alert" role="alert" ng-if="error && error.length > 0">{{ error }}</div>
          <lec-address></lec-address>
        </md-card-content>
      </md-card>
    </div>

    <!-- emergency contact -->
    <div layout-xs="row" layout-gt-xs="column" flex-xs="100" flex-gt-xs="33" ng-controller="EmergencyInformationController as emergencyInfoCtrl">
      <!-- if no emergency contact -->
      <md-card ng-if="emergencyInfo.length === 0">
        <md-card-title>
          <md-card-title-text>
            <h2 class="md-headline">Emergency contact</h2>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="description-box">
            <p>A parent, relative, or trusted friend to contact in case of an emergency.</p>
          </div>
          <p><md-icon class="md-warn">warning</md-icon> No contact entered yet.</p>
          <md-button class="md-accent md-raised" ng-click="addEdit()">Add emergency contact</md-button>
        </md-card-content>
      </md-card>
      <!-- repeat for each emergency contact -->
      <md-card ng-repeat="contact in emergencyInfo">
        <md-card-title>
          <md-card-title-text>
            <h2 class="md-headline">Emergency contact</h2>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="description-box">
            <p>A parent, relative, or trusted friend to contact in case of an emergency.</p>
          </div>
          <div class="alert" role="alert" ng-if="error && error.length > 0">{{ error }}</div>
          <emergency></emergency>
        </md-card-content>
      </md-card>
    </div>
  </div>




</frame-page>
