<div ng-controller="EmergencyPhoneController as EmergencyPhoneCtrl">
  <!-- loading state -->
  <div ng-show="profileLoadingState.ephone">
    <loading-gif data-object="emergencyPhoneNumbers" data-reuse="true"></loading-gif>
  </div>


  <div class="contact-info-card" flex>
    <h2 class="md-headline" layout="row" layout-align="space-between center">
      <div class="subhead-border"></div>
      <span>Phone number</span>
      <md-button class="md-icon-button md-accent md-raised" ng-click="edit()" ng-disabled="serviceError" aria-label="Add phone number">
        <md-icon>add</md-icon>
        <md-tooltip md-direction="top">Add phone number</md-tooltip>
      </md-button>
    </h2>
    <div>
      <div class="description-box" ng-hide="serviceError">
        <p>A number where you can be reached in an emergency.</p>
      </div>
      <!-- Error state -->
      <p ng-if="serviceError"><md-icon class="md-warn">warning</md-icon> There was a problem looking up phone number information.</p>
      <!-- Empty state -->
      <p ng-if="!serviceError && !editMode && emergencyPhoneNumbers.length === 0"><md-icon class="md-warn">warning</md-icon> No phone number entered yet.</p>
      <!-- Non-empty -->
      <div ng-if="!serviceError && !editMode && emergencyPhoneNumbers.length !== 0" layout="row" layout-align="space-between center">
        <span class="md-subhead" flex="80">
          {{ emergencyPhoneNumbers[0].value}} ({{emergencyPhoneNumbers[0].type }})
        </span>
        <md-button class="md-icon-button" aria-label="edit phone number" ng-click="edit()">
          <md-icon>mode_edit</md-icon>
          <md-tooltip md-delay="500">Edit</md-tooltip>
        </md-button>
      </div>
      <!-- Phone number form -->
      <div ng-hide="!editMode">
        <form novalidate name="emergencyPhoneNumberForm">
          <br>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Phone number*</label>
            <input type="tel" required aria-required="true" ng-pattern=/^([a-zA-Z0-9\s!-.]{1,30})$/ ng-maxlength="30" ng-model="emergencyPhoneNumbers[0].value">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Type*</label>
            <md-select required aria-required="true" ng-model="emergencyPhoneNumbers[0].type">
              <md-option value="mobile">Mobile</md-option>
              <md-option value="home">Home</md-option>
              <md-option value="work">Work</md-option>
            </md-select>
          </md-input-container>
          <p>*Required</p>
          <md-button class="md-accent md-raised no-margin-left" aria-label="Save phone number" ng-click="save()" ng-disabled="emergencyPhoneNumberForm.$invalid">Save</md-button>
          <md-button class="md-default md-raised" aria-label="Cancel" ng-click='cancel()'>Cancel</md-button>
        </form>
      </div>

      <!-- WiscAlert notice -->
      <div class="notice-container" layout="row" layout-align="start center">
        <div class="notice-icon" flex-gt-xs="20" hide-xs>
          <md-icon>info</md-icon>
        </div>
        <div class="notice-description" flex-gt-xs="80">
          <a class="md-subhead" href="https://my.wisc.edu/portal/p/wisc-alerts-text-messaging/render.uP" rel="nofollow noreferrer" target="_blank">WiscAlerts</a>
          <p>This phone number will be automatically registered to receive WiscAlerts, UW-Madison's emergency notifications.</p>
          <p>
            For more information, see the <a href="https://kb.wisc.edu/page.php?id=13839" target="_blank" rel="noreferrer nofollow">WiscAlerts FAQ</a>.
            You can op-out of receiving emergency alerts in the <a href="https://my.wisc.edu/portal/p/wisc-alerts-text-messaging/render.uP" target="_blank" rel="noreferrer nofollow">WiscAlerts app</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
