<div ng-controller="EmergencyPhoneController as EmergencyPhoneCtrl">
<loading-gif data-object="emergencyPhoneNumbers" data-reuse="true"></loading-gif>
<md-card ng-show="empty || emergencyPhoneNumbers.emergencyPhoneNumbers.length>0" class="contact-info-card" flex>
  <md-card-title>
    <md-card-title-text>
      <h2 class="md-headline">My phone number</h2>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div class="description-box">
      <p>A number where you can be reached in an emergency.</p>
    </div>
    <p ng-if="emergencyPhoneNumbers.emergencyPhoneNumbers.length === 0 && !edit" >
      <md-icon>warning</md-icon> No phone number entered yet.
    </p>
    <p ng-if="!edit && emergencyPhoneNumbers.emergencyPhoneNumbers.length">
      {{emergencyPhoneNumbers.emergencyPhoneNumbers[0].value}} ({{emergencyPhoneNumbers.emergencyPhoneNumbers[0].type}})
    </p>
    <div ng-hide="!edit">
      <form novalidate name="emergencyPhoneNumberForm">
        <br>
        <md-input-container class="md-block no-margin-bottom" flex-gt-sm>
          <label>Phone number*</label>
          <input type="tel" required aria-required="true" ng-model="emergencyPhoneNumbers.emergencyPhoneNumbers[0].value">
        </md-input-container>
        <md-input-container class="md-block no-margin-top" flex-gt-sm>
          <label>Type*</label>
          <md-select required aria-required="true" ng-model="emergencyPhoneNumbers.emergencyPhoneNumbers[0].type">
            <md-option value="mobile">Mobile</md-option>
            <md-option value="home">Home</md-option>
            <md-option value="work">Work</md-option>
          </md-select>
        </md-input-container>
        <p>*Required</p>
        <md-button class="md-accent md-raised" aria-label="Save phone number" ng-click="save()" ng-disabled="emergencyPhoneNumberForm.$invalid">Save</md-button>
        <md-button class="md-default" aria-label="Cancel" ng-click='cancel()'>Cancel</md-button>
      </form>
    </div>
    <div ng-show="!edit" ng-click="edit = true" ng-switch="emergencyPhoneNumbers.emergencyPhoneNumbers.length">
      <md-button aria-label="Add phone number" class="md-accent md-raised" ng-switch-when="0">Add phone number</md-button>
      <md-button aria-label="Update phone number" class="md-default" ng-switch-default>Update phone number</md-button>
    </div>
  </md-card-content>
</md-card>
</div>