<!-- display emergency contacts -->
<div ng-if="!contact.edit || contact.edit == false">
  <div layout="row">
    <div flex="80" layout="column" layout-align="center start">
      <span class="md-subhead">{{ contact.preferredName }}</span>
      <div ng-repeat="phone in contact.phoneNumbers">
        <div ng-if="phone.value && phone.type">
          <span ng-if="$index === 0">Primary phone: </span><span>{{ phone.value }} ({{ phone.type }})</span>
        </div>
      </div>
      <span>{{ contact.emails[0].value }}</span>
      <span ng-if="contact.relationship">Relationship: {{ contact.relationship }}</span>
      <span ng-if="contact.comments">Comments: {{ contact.comments }}</span>
    </div>
    <div flex="20" layout="row" layout-align="end start" class="action-buttons">
      <md-button class="md-icon-button edit" ng-click="contact.edit = true" aria-label="edit emergency contact" ng-hide="contact.readOnly">
        <md-icon>mode_edit</md-icon>
        <md-tooltip md-delay="500">Edit</md-tooltip>
      </md-button>
      <md-button class="md-icon-button delete" ng-click="deleteContact($index)" aria-label="delete emergency contact" ng-hide="contact.readOnly">
        <md-icon>delete</md-icon>
        <md-tooltip md-delay="500">Delete</md-tooltip>
      </md-button>
    </div>
  </div>
</div>
<!-- edit emergency contacts -->
<div ng-if="contact.edit">
  <form name="emergencyForm" novalidate class="emergency-info">
    <br>
    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="contact.preferredName" required aria-required="true" name="name">
    </md-input-container>
    <div ng-repeat="phone in contact.phoneNumbers | limitTo:3 track by $index" layout-gt-xs="row">
      <div flex="90">
        <md-input-container class="md-block" flex-gt-sm>
          <label ng-if="$index === 0">Primary phone</label>
          <input ng-if="$index === 0" type="tel" name="phone{{$index}}" ng-required="$index === 0" ng-pattern=/^([a-zA-Z0-9\s!-.]{1,30})$/ ng-model="contact.phoneNumbers[$index].value">
          <label ng-if="$index !== 0">Other phone</label>
          <input ng-if="$index !== 0" type="tel" name="phone{{$index}}" ng-pattern=/^([a-zA-Z0-9\s!-.]{1,30})$/ ng-model="contact.phoneNumbers[$index].value">
        </md-input-container>
        <md-input-container class="md-block no-spacer" flex-gt-sm>
          <label>Type</label>
          <md-select name="phoneType{{$index}}" ng-required="$index === 0" ng-model="contact.phoneNumbers[$index].type" aria-label="phone type">
            <md-option value="mobile">Mobile</md-option>
            <md-option value="home">Home</md-option>
            <md-option value="work">Work</md-option>
            <md-option value="other">Other</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex="10">
        <md-button aria-label="delete phone number" class="md-icon-button" ng-click="contact.phoneNumbers.splice($index, 1)" ng-if="$index !== 0">
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </div>
    <md-button class="md-accent button-compact no-margin-left"  ng-click="contact.phoneNumbers.push({ 'type' : '', value : ''})" ng-if="contact.phoneNumbers.length < 3" aria-label="add another phone number"><md-icon>add</md-icon> Add another number</md-button>
    <md-input-container class="md-block">
      <label>Email</label>
      <input name="email" required ng-model="contact.emails[0].value">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Relationship</label>
      <md-select ng-model="contact.relationship" name="relationship" required>
        <md-option ng-repeat="item in relationshipOptions" ng-value="item.key" ng-attr-selected="{{isSelection(contact.relationship, item.key)}}">{{ item.value }}</md-option>
      </md-select>
    </md-input-container>
    <br>
    <md-input-container class="md-block">
      <label>Comments</label>
      <textarea ng-model="contact.comments" md-maxlength="50" placeholder="Ex. First language is Spanish"></textarea>
    </md-input-container>
    <md-button class="md-accent md-raised no-margin-left" ng-click="save()" ng-disabled="emergencyForm.$invalid">Save</md-button>
    <md-button class="md-default md-raised" ng-click="cancel()">Cancel</md-button>
    </form>
</div>
