<div>
  <!-- Show Search Results -->
  <div class="userAttributesRow row display-table"  ng-class="($index % 2 ===0) ? 'evenRow':'oddRow'" 
    ng-click="showingDetails || lookupUser(people.pvi, $index); showingDetails=!showingDetails">
    <div class="col-xs-6">
      <div class="userSearchResultName">
        <span><strong>
          {{people.firstName}} {{people.middleName}} {{people.lastName}}
        </strong></span>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="detailsLink" ng-switch on="showingDetails">
        <span ng-switch-when="false">Details <i class="fa fa-caret-right"></i></span>
        <span ng-switch-when="true">Hide <i class="fa fa-caret-down"></i></span>
        <span ng-switch-default>Details <i class="fa fa-caret-right"></i></span>
      </div>
    </div>
  </div>
  <!-- Show the users local contact information or display if not found -->
  <div class="row" ng-show="showingDetails">
    <div ng-class="{'col-sm-offset-2' : (people.contactInformation.local.addresses.length === 1),
                    'col-sm-8' : (people.contactInformation.local.addresses.length  === 1),
                    'col-sm-6' : (people.contactInformation.local.addresses.length > 1)}" 
         ng-repeat="address in people.contactInformation.local.addresses">
      <div class='info-card'>
        <p><strong>Local Address</strong></p>
        <address></address>
      </div>
    </div>
    
    <div class="noContactInfoFound col-sm-offset-2 col-sm-8" ng-show="!people.contactInformation.local.addresses.length || 
                people.contactInformation.local.addresses.length === 0">
      <div class="info-card">
        <span>
          No local contact addresses available for {{people.firstName}} {{people.middleName}} {{people.lastName}}
        </span>
      </div>
    </div>
  </div>
  
  <div class="row" ng-show="showingDetails">
    <div class='col-sm-offset-2 col-sm-8'>
      <div class='info-card'>
        <p><strong>Local Phone Numbers</strong></p>
        <div ng-repeat="phone in people.emegencyPhoneNumbers">{{phone.type}} : {{phone.value}}</div>
        <div ng-if='people.contactInformation.local.phoneNumbers && people.contactInformation.local.phoneNumbers.length === 0'>
          No local phone numbers available for {{people.firstName}} {{people.middleName}} {{people.lastName}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" ng-show="showingDetails">
    <div ng-class="{'col-sm-offset-2' : (people.contactInformation.emergency.length === 1),
                    'col-sm-8' : (people.contactInformation.emergency.length  === 1),
                    'col-sm-6' : (people.contactInformation.emergency.length > 1)}" 
         ng-repeat="contact in people.contactInformation.emergency">
      <div class='info-card'>
        <p><strong>Emergency Contact</strong></p>
        <emergency></emergency>
      </div>
    </div>
    
    <div class="noContactInfoFound col-sm-offset-2 col-sm-8" ng-show="!people.contactInformation.emergency.length || 
                people.contactInformation.emergency.length === 0">
      <div class="info-card">
        <span>
          No emergency contacts available for {{people.firstName}} {{people.middleName}} {{people.lastName}}
        </span>
      </div>
    </div>
    <div class="col-xs-12" >
      <hr class="profileHorizontalRule">
    </div>
  </div>
</div>
