
  <!-- Show Search Results -->
  <div ng-class="($index % 2 ===0) ? 'even-row':'odd-row'" ng-click="showingDetails || lookupUser(people.pvi, $index); showingDetails=!showingDetails" layout="row">
    <div flex="50" flex-gt-sm="75">
      <p><strong>
        {{people.firstName}} {{people.middleName}} {{people.lastName}}
      </strong></p>
      <div layout="row">
        <span flex-gt-sm="33">Campus ID:  {{people.campusID}}</span>
        <span flex-gt-sm="66">Date of Birth: {{people.birthDate | date:'shortDate'}}</span>
      </div>
    </div>
    <div flex="50" flex-gt-sm="25">
      <div ng-switch on="showingDetails">
        <span ng-switch-when="false">Details <i class="fa fa-caret-right"></i></span>
        <span ng-switch-when="true">Hide <i class="fa fa-caret-down"></i></span>
        <span ng-switch-default>Details <i class="fa fa-caret-right"></i></span>
      </div>
    </div>
  </div>
  <!-- Show the users local contact information or display if not found -->
  <div layout="column" layout-gt-sm="row" ng-show="showingDetails">
    <!-- Address -->
    <div flex-gt-sm="33">
      <div ng-repeat="address in people.contactInformation.local.addresses">
        <div class="info-card">
          <p><strong>Local Address</strong></p>
          <address></address>
        </div>
      </div>
      <div flex ng-show="!people.contactInformation.local.addresses.length ||
                people.contactInformation.local.addresses.length === 0">
        <div class="info-card">
          <span>No local contact addresses available for {{people.firstName}} {{people.middleName}} {{people.lastName}}</span>
        </div>
      </div>
    </div>
    <!-- Phone -->
    <div flex-gt-sm="33">
      <div class="info-card">
        <p><strong>Local Phone Numbers</strong></p>
        <div ng-repeat="phone in people.contactInformation.emergencyPhoneNumbers">{{phone.type}}: {{phone.value}}</div>
        <div ng-if="people.contactInformation.emergencyPhoneNumbers && people.contactInformation.emergencyPhoneNumbers.length === 0">
          No local phone numbers available for {{people.firstName}} {{people.middleName}} {{people.lastName}}
        </div>
      </div>
    </div>
    <!-- Emergency contact -->
    <div flex-gt-sm="33">
      <div ng-repeat="contact in people.contactInformation.emergency">
        <div class="info-card">
          <p><strong>Emergency Contact</strong></p>
          <emergency></emergency>
        </div>
      </div>

      <div class="center" flex ng-show="!people.contactInformation.emergency.length || people.contactInformation.emergency.length === 0">
        <div class="info-card">
          <span>No emergency contacts available for {{people.firstName}} {{people.middleName}} {{people.lastName}}</span>
        </div>
      </div>
      <md-divider></md-divider>
    </div>
  </div>

