<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a
    copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring" default-autowire="byType"
    xmlns:sec="http://www.springframework.org/schema/security" 
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />
    <context:component-scan base-package="edu.wisc.my.profile.isis.dao"/>
    
    <!--
     | Reads in properties files to provide setting of bean properties in the application context
     +-->
    <context:property-override location="classpath:/datasource.properties"/>
    
    <bean id="abstractDataSource" class="org.apache.commons.dbcp.BasicDataSource" abstract="true">
        <property name="initialSize" value="1" />
        <property name="maxActive" value="50" />
        <property name="maxIdle" value="50" />
        <property name="minIdle" value="1" />
        <property name="maxWait" value="1000" />

        <property name="testWhileIdle" value="true" />
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <property name="numTestsPerEvictionRun" value="10" />
        <property name="minEvictableIdleTimeMillis" value="150000" />
        <property name="connectionProperties" value="oracle.net.CONNECT_TIMEOUT=4000;oracle.net.READ_TIMEOUT=12000;oracle.jdbc.ReadTimeout=12000" />
    </bean>
    
    <bean id="isis" parent="abstractDataSource">
    </bean>
    
    <bean id="isisDao" class="edu.wisc.my.profile.isis.dao.JdbcIsisDao">
        <property name="dataSource" ref="isis"/>
    </bean>
    
    <!-- middleware datasource -->
    <bean id="mw" parent="abstractDataSource">
    </bean>
    
    <bean id="LocalContactInformationDao" class="edu.wisc.my.profile.dao.LocalContactMiddlewareDaoImpl">
        <constructor-arg ref="mw" />
    </bean>
    
    <bean id="EmergencyContactDao" class="edu.wisc.my.profile.dao.EmergencyContactMiddlewareDaoImpl">
        <constructor-arg ref="mw"/>
    </bean>
    
    <!-- enable if you want to utilize local info from a uportal key/val pair database -->
    <!-- 
    <bean id="uportal" parent="abstractDataSource">
    </bean> 
    
    <bean id="LocalContactInformationDao" class="edu.wisc.my.profile.local.dao.LocalContactInformationDaoImpl">
        <constructor-arg ref="uportal" />
    </bean>
    
    <bean id="EmergencyContactInformationDao" class="edu.wisc.my.profile.emergency.dao.EmergencyContactInformationDaoImpl">
        <constructor-arg ref="uportal" />
    </bean> 
    
    <bean id="LocalUserDao" class="edu.wisc.my.profile.local.dao.LocalUserDaoImpl">
    </bean>
    -->
</beans>