<link href="css/app.css" rel="stylesheet" type="text/css"/>
<div class="portlet-frame" style='display: inline-block; width: 100%;'>
    <portlet-header app-title="My Profile - Emergency Contacts" app-image="img/square.jpg"></portlet-header>

    <div class="portlet-body">
        <!-- App Navigation if Needed -->
        <div class="inner-nav-container">
            <ul class="inner-nav">
                <li ><a href="#/main">My Profile</a></li>
                <li><a href="#/local">Local Address</a></li>
                <li class="active"><a href="#/emergencyContact">Emergency Contacts</a></li>
            </ul>
        </div>
        <div>
            <div class="col-xs-12 no-padding">
                <div class='fluid-container'>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='info-card'>
                                <h1>Emergency Contacts</h1>
                                <p>Coming soon to a portal near you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
