<link href="css/app.css" rel="stylesheet" type="text/css"/>
<div class="portlet-frame" style='display: inline-block; width: 100%;'>
    <portlet-header app-title="My Profile - Emergency Info" app-image="img/square.jpg"></portlet-header>

    <div class="portlet-body" ng-controller="EmergencyInformationController as emergencyInfoCtrl">
        <!-- App Navigation if Needed -->
        <div class="inner-nav-container">
            <ul class="inner-nav">
                <li ><a href="#/main">My Profile</a></li>
                <li class="active"><a href="#/emergencyInfo">Emergency Info</a></li>
            </ul>
        </div>
        <div class="col-xs-12 no-padding">
            <div class="row">
                <div class="col-xs-12">
                    <p>State law requires the university to collect emergency contact information for every student.<a href="#">Learn more here</a>.</p>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='info-card'>
                        <h1>Emergency Contact</h1>
                        <!-- If contact(s) exist -->
                        <div ng-if="emergencyContacts.length !== 0" ng-repeat="contact in emergencyContacts">
                            <p>{{ contact.name }}</p>
                            <div ng-repeat="address in contact.addresses">
                                <p>{{ address.addressLines[0] }}</p>
                                <p>{{ address.addressLines[1] }}</p>
                                <p>{{ address.city }}, {{ address.state }} {{ address.postalCode }}</p>
                            </div>
                            <br>
                            <div ng-repeat="phone in contact.phoneNumbers">
                                <p>{{ phone.value }} ({{ phone.type }})</p>
                            </div>
                            <br>
                            <p ng-if="contact.relationship">Relationship: {{ contact.relationship }}</p>
                            <p ng-if="contact.languages[0]">First Language: {{ contact.languages[0].value }}</p>
                            <p ng-if="contact.languages[1]">Second Language: {{ contact.languages[1].value }}</p>
                            <button class="btn btn-default" ng-click="emergencyForm = true">Add another</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Delete</button>
                        </div>

                        <!-- If no contacts exist -->
                        <p ng-if="emergencyContacts.length === 0">No contact saved yet.</p>
                        <button class="btn btn-default" ng-if="emergencyContacts.length === 0" ng-click="emergencyForm = true">Add emergency contact</button>

                        <!-- Add a new emergency contact -->
                        <div ng-if="emergencyForm">
                            <form>
                                <label for="name">Name</label>
                                <input type="text" name="name">
                                <label for="addressLine1">Address Line 1</label>
                                <input type="text" name="addressLine1">
                                <label for="city">City</label>
                                <input type="text" name="city">
                                <label for="state">State / Province / Region</label>
                                <input type="text" name="state">
                                <label for="zip">ZIP</label>
                                <input type="text" name="zip">
                                <label for="country">Country</label>
                                <countries></countries>
                                <div class="col-xs-8">
                                    <label for="phone">Phone</label>
                                    <input type="tel" name="phone">
                                </div>
                                <div class="col-xs-4">
                                    <select>
                                        <option value="mobile">Mobile</option>
                                        <option value="home">Home</option>
                                        <option value="work">Work</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <button class="btn btn-default">Add phone</button>
                                <label for="relationship">Relationship</label>
                                <input type="text" name="relationship">
                                <label for="firstLanguage">
                                <input type="text" name="firstLanguage">
                                <button class="btn btn-default">Add language</button>
                                <label for="moreInfo">More Information (optional)</label>
                                <textarea name="moreInfo"></textarea>
                            </form>
                            <button class="btn btn-primary">Save</button>
                            <button class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
