<div ng-controller="EmergencyInformationController as emergencyInfoCtrl" style='padding: 1em;border:1px solid black; border-radius: 4px; box-shadow: 1px 1px 10px gray;'>
    <h2>Emergency Information <button class='btn btn-primary pull-right'><i class='fa fa-edit'></i> Edit</button></h2>
    <div style='padding-top: 1em;'>
    <table class='table table-hover'>
        <tr>
            <td>Emergency Contacts</td> 
            <td>
                <ul style='padding: 0;'>
                  <li ng-repeat='contact in emergencyContacts'>{{contact.name}} ({{contact.relationship}})<br>{{contact.number}}</li>
                </ul>
            </td>
        </tr>
        <!-- <tr>
            <td>Departments</td> 
            <td>
                <ul style='padding: 0;'>
                  <li ng-repeat='phone in contactInfo.phoneNumbers'>{{phone.number}}</li>
                </ul>
            </td>
        </tr> -->
    </table>
    </div>
</div>
