<div ng-if='!contact.edit || contact.edit == false'>
    <p>{{ contact.preferredName }}</p>
    <div ng-repeat="phone in contact.phoneNumbers">
        <p><span ng-if="$index === 0">Primary phone: </span>{{ phone.value }} ({{ phone.type }})</p>
    </div>
    <p>{{ contact.emails[0].value }}</p>
    <br>
    <p ng-if="contact.relationship">Relationship: {{ contact.relationship }}</p>
    <p ng-if="contact.comments">Comments: {{ contact.comments }}</p>
    <span ng-hide='contact.readOnly'>
        <button class='btn btn-primary' ng-click='addEdit()'>Add another</button>
        <button class='btn btn-default' ng-click='contact.edit = true'>Edit</button>
        <button class='btn btn-default' ng-click='deleteContact($index)'>Delete</button>
    </span>
</div>
<div ng-if='contact.edit'>
    <form name="emergencyForm" novalidate class="emergency-info">
        <div class="form-group">
            <label for="name">Name*</label>
            <input class="form-control" id='name' name="name" type='text' required ng-model="contact.preferredName" ng-class="{ 'has-error' : emergencyForm.name.$invalid && emergencyForm.name.$touched }">
            <p class="form-help" ng-show="emergencyForm.name.$invalid && emergencyForm.name.$touched">Name is required</p>
        </div>
        <div ng-repeat="phone in contact.phoneNumbers | limitTo:3 track by $index" class="form-group phone-number">
            <div class="col-xs-7 no-padding">
                <label for="phone{{$index}}" ng-if="$index === 0">Primary phone*</label>
                <input type="tel" id="phone{{$index}}" name="phone{{$index}}" required class="form-control" ng-model="contact.phoneNumbers[$index].value" ng-if="$index === 0" ng-class="{ 'has-error' : emergencyForm.phone0.$invalid && emergencyForm.phone0.$touched }">
                <label for="phone{{$index}}" ng-if="$index !== 0">Other phone</label>
                <input type="tel" id="phone{{$index}}" class="form-control" ng-model="contact.phoneNumbers[$index].value" ng-if="$index !== 0">
            </div>
            <div class="col-xs-5 no-padding phone-type">
                <label for="phoneType{{$index}}" ng-if="$index === 0">Type*</label>
                <label for="phoneType{{$index}}" ng-if="$index !== 0">Type</label>
                <select id="phoneType{{$index}}" name="phoneType{{$index}}" class="form-control" required ng-model="contact.phoneNumbers[$index].type" ng-class="{ 'has-error' : emergencyForm.phoneType0.$invalid && emergencyForm.phoneType0.$touched }">
                    <option value="mobile" selected="selected">Mobile</option>
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <p class="form-help" ng-show="emergencyForm.phone0.$invalid && emergencyForm.phone0.$touched && $index === 0">Phone number is required</p>
            <p class="form-help" ng-show="emergencyForm.phoneType0.$invalid && emergencyForm.phoneType0.$touched && $index === 0">Phone type is required</p>
        </div>
        <button class="btn btn-default" type="text" ng-click="contact.phoneNumbers.push('')">Add another phone number</button>
        <div class="form-group">
            <label for="email">Email*</label>
            <input class="form-control" id='email' name="email" type='text' required ng-model="contact.emails[0].value" ng-class="{ 'has-error' : emergencyForm.email.$invalid && emergencyForm.email.$touched }">
            <p class="form-help" ng-show="emergencyForm.email.$invalid && emergencyForm.email.$touched">Email is required</p>
        </div>
        <div class="form-group">
            <label for="relationship">Relationship*</label>
            <input class="form-control" id='relationship' name="relationship" type='text' required ng-model="contact.relationship" ng-class="{ 'has-error' : emergencyForm.relationship.$invalid && emergencyForm.relationship.$touched }">
            <p class="form-help" ng-show="emergencyForm.relationship.$invalid && emergencyForm.relationship.$touched">Relationship is required</p>
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" id='comments' type='text' ng-model="contact.comments" placeholder="For example, languages spoken or best times to contact"></textarea>
        </div>
        <p>*Required</p>
        <button class='btn btn-primary' style='margin-right: 10px;' ng-click="save()" ng-disabled="emergencyForm.$invalid">Save</button>
        <button class='btn btn-default' ng-click='cancel()'>Cancel</button>
    </form>
</div>
