<div class="row card" ng-init="$storage.showSidebar=false">
  <div class="card-header">
    <img class="header-image" ng-src="{{$storage.homeImg}}" alt="UW Campus cover image">
    <div class="card-header-text">
      <h1>My Profile</h1>
    </div>
  </div>
  <div class="col-xs-12 no-padding">
        <div class='fluid-container'>
            <div class='row'>
                <div class='col-sm-6'>
                    <contact-info></contact-info>
                </div>
                <div class='col-sm-6'>
                    <basic-info></<basic-info>
                </div>
            </div>
            <div class='row' style='padding-top: 1em;'>
                <div class='col-sm-6'>
                    <emergency-info></<emergency-info>
                </div>
            </div>
        </div>
    </div>
</div>
